.goodside {

   &__container{
      border: 1px solid #F3F3F3;
      border-radius: 30px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__img {
      max-height: 70px;
      max-width: 70px; 
   }

   &__info {
      margin: 0 10px;
   }

   &__label {
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;

   color: #000000;

   margin: 0px 0px 5px 0px;
   }

   &__price {
   font-family: Inter;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;

   color: #000000;
   }

   &__remove {
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid #F3F3F3;
      border-radius: 10px;
      padding: 8px;

      &::before{
         color: #e6e6e6;
         transform: rotate(45deg);
         transition: 0.2s ease-in-out;
      }

      &:hover{
         border-color: #f83535;
         transition: 0.2s ease-in-out;
         &::before{
            transform: rotate(135deg);
            color: #f83535;
         }
      }
   }
}
